// Sass / variables
// ----------------------------------------------------------

$base-space: 0.8;
$base-font-size: 62.5%;

// Sass / maps
// ----------------------------------------------------------

$font-size: (
  'small': (16, 20)
);

$colors: (
  'white': #FFF,
  'black': #000,
  'beige': #F8F5EE
);

$spaces: (
  'xxs',
  'xs',
  's',
  'm',
  'l',
  'xl',
  'xxl'
);

// Static Custom Properties
// ----------------------------------------------------------

:root {
  --base-font-size: #{$base-font-size};
  --base-space: 0.8;
  --font-default: 'Arial', sans-serif;

  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @for $i from 1 through length($spaces) {
    --spaces-#{nth($spaces, $i)}: calc(var(--base-space) * #{$i}rem);
  }
}